.navigation {
	padding: 0;
	list-style: none;
	display: flex;
	justify-content: space-between;
	width: 530px;
}

.navigation__li {
	padding-top: 10px;
}

.navigation__item {
	color: #fff;
	font-weight: 400;
	font-size: 16px;
	text-decoration: none;

	&:hover {
		color: #16cd53;
	}
}

@media (max-width: 1240px) {
	.navigation {
		width: 480px;
	}
}

@media (max-width: 1100px) {
	.navigation {
		width: 440px;
	}
}

@media (max-width: 1040px) {
	.navigation {
		display: none;
	}
}
